@font-face {
  font-family: 'Aleo';
  src: url(../fonts/AleoRegular.otf);
  font-weight: normal; }

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/AleoRegular.otf);
  font-weight: normal; }

.header {
  padding: 12% 0 0;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  overflow: hidden; }
  .header__title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em; }
  .header__slogan {
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: .31em;
    margin-bottom: 3%; }
  .header__field {
    width: 43%;
    padding: 13px 20px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: .2em; }
  .header__btn {
    font-family: 'Aleo', Arial, sans-serif;
    border: none;
    width: 225px;
    padding: 13px;
    text-transform: uppercase;
    background-color: #5474fd;
    color: #fff;
    font-size: 14px;
    letter-spacing: .1em;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Josefin Sans', Arial, sans-serif;
    width: 13%;
    padding: 13px 20px;
    border: 2px solid #fff; }
    .header__btn:hover {
      background-color: rgba(84, 116, 255, 0.6);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .header__btn:focus {
      outline: none; }
    .header__btn:active {
      background-color: #04589f; }
  .header__scroll {
    margin: 8% 0; }
  .header__txt {
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: .2em; }
  .header__menu {
    padding: 1.5% 0;
    background-color: #5474fd;
    color: #fff; }
  .header__menu-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em; }
  .header__nav {
    font-family: 'Aleo', Arial, sans-serif;
    width: 50%;
    padding-left: 1%;
    font-size: 14px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__ref {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .header__ref:hover {
      text-decoration: none;
      color: #04589f;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/AleoRegular.otf);
  font-weight: normal; }

.chooseus {
  padding: 7% 0;
  background-image: url(../images/chooseus-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  overflow: hidden; }
  .chooseus__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .chooseus__info {
    width: 50%;
    padding-right: 15px; }
  .chooseus__title {
    font-family: 'Aleo', Arial, sans-serif;
    font-size: 36px;
    text-transform: capitalize;
    margin: 10% 0; }
  .chooseus__btn {
    font-family: 'Aleo', Arial, sans-serif;
    border: none;
    width: 225px;
    padding: 13px;
    text-transform: uppercase;
    background-color: #5474fd;
    color: #fff;
    font-size: 14px;
    letter-spacing: .1em;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 5%; }
    .chooseus__btn:hover {
      background-color: rgba(84, 116, 255, 0.6);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .chooseus__btn:focus {
      outline: none; }
    .chooseus__btn:active {
      background-color: #04589f; }
  .chooseus__gallery {
    text-align: right;
    width: 50%;
    padding-left: 15px; }
  .chooseus__img {
    width: 60%; }
    .chooseus__img:first-child {
      position: relative;
      right: 30%;
      margin-bottom: 1%; }

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/AleoRegular.otf);
  font-weight: normal; }

.offer {
  padding: 13% 0 7%;
  color: #fff;
  overflow: hidden; }
  .offer:first-child {
    background-image: url(../images/offer1-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-right: 15px; }
  .offer:last-child {
    background-image: url(../images/offer2-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 15px;
    text-align: right; }
  .offer__info {
    width: 50%;
    display: inline-block;
    padding: 5% 3%;
    background-color: rgba(35, 35, 35, 0.9);
    text-align: left; }
  .offer__country {
    font-size: 20px;
    letter-spacing: .075em; }
  .offer__place {
    font-size: 20px;
    text-transform: uppercase;
    margin: 5% 0; }
  .offer__btn {
    font-family: 'Aleo', Arial, sans-serif;
    border: none;
    width: 225px;
    padding: 13px;
    text-transform: uppercase;
    background-color: #5474fd;
    color: #fff;
    font-size: 14px;
    letter-spacing: .1em;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin: 5% 0 0; }
    .offer__btn:hover {
      background-color: rgba(84, 116, 255, 0.6);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .offer__btn:focus {
      outline: none; }
    .offer__btn:active {
      background-color: #04589f; }

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/AleoRegular.otf);
  font-weight: normal; }

.testimonial {
  padding: 5% 0;
  background-image: url(../images/testimonial-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  overflow: hidden; }
  .testimonial__title {
    font-family: 'Aleo', Arial, sans-serif;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 5%; }

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/AleoRegular.otf);
  font-weight: normal; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .comment__photo {
    width: 40%; }
  .comment__comm {
    text-align: left;
    background-color: #333333;
    width: 60%;
    padding: 4% 5%; }
  .comment__name {
    font-size: 20px;
    text-transform: uppercase; }
  .comment__txt {
    margin-top: 4%; }

body {
  font-family: 'Josefin Sans', Arial, sans-serif; }
