@import "variables.scss";

.chooseus {
	padding: 7% 0;
	background: url(../images/chooseus-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;
	overflow: hidden;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		width: 50%;
		padding-right: 20px;
	}

	&__title {
		font-family: 'Aleo', Arial, sans-serif;
		margin: 10% 0;
		font-size: 36px;
	}

	&__txt {
		font-size: 16px;
	}

	&__btn {
		@include btn;
		margin-top: 5%;
	}

	&__gallery {
		text-align: right;
		width: 50%;
		padding-left: 20px;
	}

	&__img {
		width: 60%;

		&:first-child {
			position: relative;
			right: 30%;
			margin-bottom: 1%;
		}
	}
}
