@import "variables.scss";

.chooseus {
	padding: 7% 0;
	background-image: url(../images/chooseus-bg.jpg);
	@include bg;
	color: $white;
	overflow: hidden;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__info {
		width: 50%;
		padding-right: 15px;
	}

	&__title {
		@include title;
		margin: 10% 0;
	}

	&__btn {
		@include btn;
		margin-top: 5%;
	}

	&__gallery {
		text-align: right;
		width: 50%;
		padding-left: 15px;
	}

	&__img {
		width: 60%;

		&:first-child {
			position: relative;
			right: 30%;
			margin-bottom: 1%;
		}
	}
}
