@import "variables.scss";

.header {
	padding: 12% 0 0;
	background-image: url(../images/header-bg.jpg);
	@include bg;
	color: $white;
	text-align: center;
	overflow: hidden;

	&__title {
		font-size: 48px;
		@include logo;
	}

	&__slogan {
		font-size: 22px;
		text-transform: capitalize;
		letter-spacing: .31em;
		margin-bottom: 3%;
	}

	&__field {
		width: 43%;
		padding: 13px 20px;
		border: 2px solid $white;
		text-align: center;
		font-size: 14px;
		text-transform: capitalize;
		letter-spacing: .2em;
		color: #232323;

		&:focus {
			outline: none;
		}
	}

	&__btn {
		@include btn;
		font-family: 'Josefin Sans', Arial, sans-serif;
		width: 13%;
		padding: 13px 20px;
		border: 2px solid $white;
	}

	&__scroll {
		margin: 8% 0;
	}

	&__txt {
		font-size: 14px;
		text-transform: capitalize;
		letter-spacing: .2em;
		margin: 0;
	}

	&__arrow {
		width: 25px;
	}

	&__menu {
		padding: 1.5% 0;
		background-color: $blue;
		color: $white;
	}

	&__menu-cont {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		@include ref;
		@include logo;
		font-size: 24px;
		margin: 0;
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&__nav {
		font-family: 'Aleo', Arial, sans-serif;
		width: 50%;
		padding-left: 1%;
		font-size: 14px;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
	}

	&__ref {
		@include ref;
		color: $white;
		border-bottom: 2px solid transparent;

		&:hover {
			color: $white;
			border-bottom: 2px solid;
		}
	}
}
