$blue: #5474fd;
$darkblue: #04589f;
$white: #fff;

@font-face {
	font-family: 'Aleo';
	src: url(../fonts/AleoRegular.otf);
	font-weight: normal;
}

@mixin transition {
	transition: all .3s ease;
}

@mixin bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@mixin title {
	font-family: 'Aleo', Arial, sans-serif;
	font-size: 36px;
	text-transform: capitalize;
}

@mixin logo {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
}

@mixin btn {
	font-family: 'Aleo', Arial, sans-serif;
	border: none;
	width: 225px;
	padding: 13px;
	text-transform: uppercase;
	background-color: $blue;
	color: $white;
	font-size: 14px;
	letter-spacing: .1em;
	@include transition;

	&:hover {
		background-color: rgba(84, 116, 283, .6);
		@include transition;
	}
	&:focus {
		outline: none;
	}
	&:active {
		background-color: $darkblue;
	}
}
